<div class="flex flex-col items-center p-16 space-y-6">
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-3xl font-semibold mb-2">Chat with Ryan's AI</h1>
    <p>Ask about experience, skills, projects, or anything else!</p>
  </div>

  <section hlmCard>
    <!-- Messages -->
    <div
      hlmCardContent
      class="scrollbar-hide w-2xl min-h-[400px] max-h-[600px] overflow-y-auto"
    >
      @for (message of messages(); track $index) {
      <app-chat-message [m]="message" />
      }
    </div>

    <!-- Input -->
    <div hlmCardContent>
      <app-chat-input (send)="onMessageSend($event)" />
    </div>
  </section>
</div>
